extends ../node_modules/jade-bootstrap/_bootstrap

block body
	if display !== "raw"
		+navbar("Colenso Project", "dropdown_menu")
			+nav_item("/") Home
			+nav_item("/browse", "active") Browse
			+nav_item("/search") Search
			+nav_item("/upload") Upload
		.container
			if display !== "human"
				h1 #{title}
			each item in place
				if display === "human"
					p !{item}
				else
					p #[a(href="browse/display/#{item}") !{item}] #[a(href="browse/raw-display/#{item}") Raw Text]
	else
		each item in place
			p #{item}