extends ../node_modules/jade-bootstrap/_bootstrap

append styles
	link(rel="stylesheet", href="/stylesheets/style.css")

block body
	+navbar("Colenso Project", "dropdown_menu")
		+nav_item("/") Home
		+nav_item("/browse", "active") Browse
		+nav_item("/search") Search
		+nav_item("/upload") Upload
	.container
		if display === "human"
			each item in place
				p !{item}
		else
			h1 #{title}
			+panel-default("")
				table
					tbody
						each item in place
							tr
								td #[a(href="browse/display/#{item}") !{item}]
								td #[a(href="browse/raw-display/#{item}") Raw Text]
								td #[a(href="browse/edit/#{item}") Edit]