extends ../node_modules/jade-bootstrap/_bootstrap

append styles
	link(rel="stylesheet", href="/stylesheets/style.css")

block body
	+navbar("Colenso Project", "dropdown_menu")
		+nav_item("/") Home
		+nav_item("/browse") Browse
		+nav_item("/search", "active") Search
		+nav_item("/upload") Upload
	.container
		h1 #{title}
		form(action="/search", method="get")
			+tab-list(["XQUERY", "FULL-TEXT"],0)
				+tab("XQUERY", "active")
					+input("text","queryfield","Enter XQUERY here","", "queryfield")
				+tab("FULL-TEXT")
					+input("text","fullfield","Enter FULL-TEXT here","", "fullfield")
			+submit("Search")
		p 
		if display === true
			+panel-default("Search Results for '" + query + "'")
				if type === "cheerio"
					table
						tbody
							each xml in place
								if xml.id !== undefined
									tr
										td #[a(href="search/display/#{xml.id}") !{xml.id}]
										td #[a(href="search/raw-display/#{xml.id}") Raw Text]
										td #[a(href="search/edit/#{xml.id}") Edit]
				else
					each item in place
						p !{item}